html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.festive-regular {
  font-family: "Festive", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}


.relativeparents {
  position: relative;
  mix-blend-mode: multiply
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  position: absolute;
  font-family: 'Festive', cursive;
  font-size: 170px;
  color: white;
  text-align: center;
  left: 9%;
  z-index: 10;
}

.subtitle {
  position: absolute;
  font-family: 'Festive', cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  top: 100%;
  left: 40%;
  z-index: 11;
}

.heartmom {
  position: absolute;
  margin-top: 25%;
  left: 39%;
  width: 300px;
  height: 300px;
  z-index: 9;
}

.flower1 {
  position: absolute;
  margin-top: 50%;
  left: 72%;
  width: auto;
  height: auto;
  z-index: 9;
  mix-blend-mode: hard-light;
}

.flower2 {
  position: absolute;
  margin-top: 50%;
  left: 5%;
  width: auto;
  height: auto;
  z-index: 9;
  mix-blend-mode: hard-light;
}

.flower3 {
  position: absolute;
  margin-top: 50%;
  left: 39%;
  width: auto;
  height: auto;
  z-index: 9;
  mix-blend-mode: hard-light;
}

.picture {
  position: absolute;
  margin-top: 27%;
  left: 65%;
  width: 400px;
  height: 300px;
  z-index: 9;
}

.picture2 {
  position: absolute;
  margin-top: 27%;
  left: 7%;
  width: 400px;
  height: 300px;
  z-index: 9;
}

.letter {
  position: absolute;
  font-family: 'Tangerine', cursive;
  font-size: 32px;
  font-weight: 700;
  margin-top: 85%;
  left: 10%;
  width: 1200px;
  z-index: 9;
  mix-blend-mode: hard-light;
}

.yungmom {
  position: absolute;
  margin-top: 140%;
  left: 7%;
  width: auto;
  height: auto;
  z-index: 9;
}

.mamasworld {
  position: absolute;
  font-family: 'Festive', cursive;
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 210%;
  left: 33%;
  z-index: 10;
}

.collage {
  position: absolute;
  margin-top: 220%;
  left: 7%;
  width: auto;
  height: auto;
  z-index: 9;
}

.blanket {
  position: absolute;
  margin-top: 285%;
  left: 10%;
  width: auto;
  height: auto;
  z-index: 9;
}

.collage2 {
  position: absolute;
  margin-top: 350%;
  left: 7%;
  width: auto;
  height: auto;
  z-index: 9;
}

.familyphoto {
  position: absolute;
  margin-top: 420%;
  left: 7%;
  width: auto;
  height: auto;
  z-index: 9;
}

.meandmom {
  position: absolute;
  margin-top: 500%;
  left: 7%;
  width: auto;
  height: auto;
  z-index: 9;
}